<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      {{> "systems/helveczia/templates/actor/partials/npc-header.hbs"}}
    </header>

    {{!-- Sheet Tab Navigation --}}
    {{!-- <nav class="sheet-tabs tabs side character" data-group="primary"> --}}
    <nav class="sheet-tabs tabs character" data-group="primary">
        <a class="item" data-tab="abilities">{{ localize 'HV.tabs.abilities'}}</a>
        <a class="item" data-tab="combat">{{ localize 'HV.tabs.combat'}}</a>
        <a class="item" data-tab="skills">{{ localize 'HV.tabs.skills'}}</a>
        <a class="item" data-tab="possessions">{{ localize 'HV.tabs.possessions'}}</a>
        {{#if vagabond_class }}
            <a class="item" data-tab="vagabond">{{ localize 'HV.class.vagabond'}}</a>
        {{/if}}
        {{#if (hasSpells data.spells) }}
        <a class="item" data-tab="spells">{{ localize 'HV.Spells'}}</a>
        {{/if}}
        {{#if config.showEffects }}
        <a class="item" data-tab="effects">{{ localize 'HV.tabs.effects'}}</a>
        {{/if}}
        <a class="item" data-tab="editor">{{ localize 'HV.tabs.notes'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Saves Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            {{> "systems/helveczia/templates/actor/partials/actor-abilities.hbs"}}
        </div>
        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            {{> "systems/helveczia/templates/actor/partials/npc-skills.hbs"}}
        </div>
        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            {{> "systems/helveczia/templates/actor/partials/npc-combat.hbs"}}
        </div>
        {{!-- Possessions Tab --}}
        <div class="tab possessions" data-group="primary" data-tab="possessions">
            {{> "systems/helveczia/templates/actor/partials/npc-equipment.hbs"}}
        </div>
        <div class="tab spells" data-group="primary" data-tab="spells">
            <section class="spellbook">
                <ol class="item-list">
                    <li class="flexrow item-header">
                            <h2 class="centred">~ {{ localize "HV.MemorizedSpells"}}  ~</h2>
                    </li>
                    {{> "systems/helveczia/templates/actor/partials/spells.hbs"}}
                </ol>
            </section>
        </div>
        {{#if config.showEffects}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/helveczia/templates/actor/partials/actor-effects.hbs"}}
        </div>
        {{/if }}
        {{#if vagabond_class}}
        <div class="tab vagabond" data-group="primary" data-tab="vagabond">
            {{> "systems/helveczia/templates/actor/partials/vagabond.hbs"}}
        </div>
        {{/if }}
        {{!-- Notes --}}
        <div class="tab editor" data-group="primary" data-tab="editor">
            <h2>{{ localize 'HV.tabs.notes' }}</h2>
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>

