<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      {{> "systems/helveczia/templates/actor/partials/npc-header.hbs"}}
    </header>

    {{!-- Sheet Tab Navigation --}}
    {{!-- <nav class="sheet-tabs tabs side character" data-group="primary"> --}}
    <nav class="sheet-tabs tabs character" data-group="primary">
        <a class="item" data-tab="saves">{{ localize 'HV.tabs.saves'}}</a>
        <a class="item" data-tab="combat">{{ localize 'HV.tabs.combat'}}</a>
        <a class="item" data-tab="skills">{{ localize 'HV.tabs.skills'}}</a>
        <a class="item" data-tab="possessions">{{ localize 'HV.tabs.possessions'}}</a>
        {{#if config.showEffects }}
        <a class="item" data-tab="effects">{{ localize 'HV.tabs.effects'}}</a>
        {{/if}}
        <a class="item" data-tab="editor">{{ localize 'HV.tabs.notes'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Saves Tab --}}
        <div class="tab saves" data-group="primary" data-tab="saves">
            {{> "systems/helveczia/templates/actor/partials/npc-saves.hbs"}}
        </div>
        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            {{> "systems/helveczia/templates/actor/partials/npc-skills.hbs"}}
        </div>
        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            {{> "systems/helveczia/templates/actor/partials/npc-combat.hbs"}}
        </div>
        {{!-- Possessions Tab --}}
        <div class="tab possessions" data-group="primary" data-tab="possessions">
            {{> "systems/helveczia/templates/actor/partials/npc-equipment.hbs"}}
        </div>
        {{#if config.showEffects}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/helveczia/templates/actor/partials/actor-effects.hbs"}}
        </div>
        {{/if }}
        {{!-- Notes --}}
        <div class="tab editor" data-group="primary" data-tab="editor">
            <h2>{{ localize 'HV.tabs.notes' }}</h2>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>

