<form autocomplete="off" class="sheet-body">
  <div class="header" style="flex-wrap: nowrap;">
    <div class="flexrow"  style="flex-wrap: nowrap;">
      <a class="item-control resync"><i class="fas fa-sync"></i></a><h3 style="display: contents;"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
    </div>
    <div>{{ localize 'HV.Average' }} {{ localize 'HV.virtue' }}: {{ virtue }}</div>
  </div>
  <ol class="party-members">
    {{#each party as |e|}}
    <li class="actor flexrow" data-actor-id="{{e.id}}">
        <div class="flexrow field-row">
          <div class="field-img">
            <img src="{{e.img}}" class="profile-img"/>
          </div>
          <div title="{{e.name}}" class="field-name">
            {{e.name}}
            {{#if e.hasPlayerOwner}}
            &nbsp;<span style="font-style: italic;">({{player e.id}})</span>
            {{/if}}
            {{#unless no_origins}}
            <br> {{ordinal data.level }} level {{data.people}} {{data.class}}
            {{/unless}}
          </div>
          {{#if ../user.isGM }}
          <div class="field-row">
            {{ localize 'HV.tabs.saves'}} {{ plusminus data.saves.bravery.mod }} / {{ plusminus data.saves.deftness.mod }} / {{ plusminus data.saves.temptation.mod }}
          </div>
          <div class="field-row">
            <i class="fas fa-fist-raised" title="{{ localize 'HV.attack.melee.short'}}"></i>{{ plusminus e.system.attack.melee.mod}}
            &nbsp;
            <i class="fas fa-bullseye" title="{{ localize 'HV.attack.ranged.short'}}"></i>{{ plusminus e.system.attack.ranged.mod}}
            &nbsp;
            <i class="fas fa-shield-alt" title="{{ localize 'HV.AC'}}"></i>{{e.system.ac}}
            &nbsp;
            <i class="fas fa-heart" title="{{ localize 'HV.HP.long'}}"></i>{{e.system.hp.value}}
            &nbsp;
            <i class="virtue-balance {{balance e.system.virtue}}" title="{{balanceTip e.system.virtue}}"></i>{{e.system.virtue}}
          </div>
          <div class="field-row">
            <a class="remove"><i class="fas fa-times-circle" title="{{ localize 'HV.dialog.partysheet.remove'}}"></i></a>
          </div>
          {{/if}}
        </div>
    </li>
    <hr>
    {{/each}}
  </ol>
</form>