<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <h1 class="name">
            <input type="text" name="name" value="{{source.name}}" placeholder={{fields.name.label}}/>
        </h1>
    </header>

    <div>
        <header class="cards-header flexrow">
            <span class="sort-mode"></span>
            <strong class="name">{{localize "DOCUMENT.FIELDS.name.label"}}</strong>
            <span class="suit">{{localize "Notes"}}</span>
            <span class="suit">{{localize "CARD.FIELDS.suit.label"}}</span>
            <span class="value">{{localize "CARD.FIELDS.value.label"}}</span>
            <span class="faces">{{localize "CARD.FIELDS.face.label"}}</span>
        </header>
        <ol class="cards" data-cards>
        {{#each cards as |card|}}
            <li class="flexrow" data-card-id="{{card.id}}">
                <img class="face" src="{{card.img}}"  height="48" loading="lazy">
                {{#if card.showFace}}
                <span class="name">{{card.name}}</span>
                <span class="suit">{{card.description}}</span>
                <span class="suit">{{card.suit}}</span>
                <span class="value">{{card.value}}</span>
                {{else}}
                <span class="name">?</span>
                {{/if}}
                <div class="faces flexcol">
                    <a data-action="controlCard" data-control="nextFace" data-tooltip="CARDS.ACTIONS.NextFace"
                    {{disabled (not card.hasNextFace)}}>
                    <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a data-action="controlCard" data-control="prevFace" data-tooltip="CARDS.ACTIONS.PreviousFace"
                    {{disabled (not card.hasPreviousFace)}}>
                    <i class="fa-solid fa-caret-down"></i>
                    </a>
                </div>
            </li>
        {{else}}
            <li>
                <p class="hint">{{localize "CARDS.NoCards"}}</p>
            </li>
        {{/each}}
        </ol>
    </div>

    <!-- Sheet Footer -->
    <footer class="sheet-footer flexrow">
        {{#if owner}}
        <button class="card-control" type="button" data-action="reset" {{ disabled inCompendium }}>
            <i class="fas fa-undo"></i> {{localize "HV.cards.Reset"}}
        </button>
        {{/if}}
    </footer>
</form>
