<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <h1 class="name">
            <input type="text" name="name" value="{{source.name}}" placeholder="fields.name.label"/>
        </h1>
    </header>
    <div>
        <header class="cards-header flexrow">
            &nbsp;
            <span class="name">{{localize "DOCUMENT.FIELDS.name.label"}}</span>
            <span class="suit">{{localize "Notes"}}</span>
            <span class="suit">{{localize "CARD.FIELDS.suit.label"}}</span>
            <span class="value">{{localize "CARD.FIELDS.value.label"}}</span>
            {{#if user.isGM}}
            <span class="card-faces">{{localize "CARD.FIELDS.face.label"}}</span>
            {{/if}}
            <div class="controls"></div>
        </header>
        <ol class="cards">
        {{#each cards as |card|}}
            <li class="flexrow" data-card-id="{{card.id}}">
                <img class="face" src="{{card.img}}"  height="48">
                {{#if (or @root.user.isGM card.showFace) }}
                <span class="name">{{card.name}}</span>
                <span class="suit">{{card.description}}</span>
                <span class="suit">{{card.suit}}</span>
                <span class="value">{{card.value}}</span>
                {{else}}
                <span class="name">?</span>
                {{/if}}
                {{#if @root.user.isGM}}
                <div class="faces flexcol">
                    <a data-action="controlCard" data-control="nextFace" data-tooltip="CARDS.ACTIONS.NextFace"
                    {{disabled (not card.hasNextFace)}}>
                    <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a data-action="controlCard" data-control="prevFace" data-tooltip="CARDS.ACTIONS.PreviousFace"
                    {{disabled (not card.hasPreviousFace)}}>
                    <i class="fa-solid fa-caret-down"></i>
                    </a>
                </div>
                {{/if}}
                <div class="controls">
                    {{#if @root.user.isGM }}
                        {{#if (and isOwner (not inCompendium))}}
                        <a data-action="pass" data-card-id="{{ card.id }}" data-tooltip="CARD.Play">
                            <i class="fa-solid fa-chevron-circle-right"></i>
                        </a>
                        {{/if}}
                    {{/if}}
                </div>
            </li>
        {{else}}
            <li>
                <p class="hint">{{localize "CARDS.NoCards"}}</p>
            </li>
        {{/each}}
        </ol>
        {{#if user.isGM}}
         <header class="cards-header flexrow">
            &nbsp;
            <span class="name"></span>
            <span class="suit"></span>
            <span class="suit"></span>
            <span class="value">{{ cardsTotal cards }}</span>
            <span class="faces"></span>
            <div class="card-controls"></div>
        </header>
        {{/if}}
    </div>

    <!-- Sheet Footer -->
    <footer class="sheet-footer flexrow">
        <button class="card-control" type="button" data-action="draw">
            <i class="fas fa-plus"></i> {{localize "CARDS.ACTIONS.Draw"}}
        </button>
        {{#if user.isGM}}
        <button class="card-control" type="button" data-action="reset">
            <i class="fas fa-undo"></i> {{localize "HV.cards.Reset"}}
        </button>
        {{/if}}
    </footer>
</form>

