<form class="cards-dialog">
    <div class="form-group">
        <div class="form-fields">
            <label>{{ localize 'HV.Sex' }}</label>
            <select id="sex">
                <option value="male">{{ localize 'HV.Male' }}</option>
                <option value="female">{{ localize 'HV.Female' }}</option>
            </select>
            <label>{{ localize 'HV.Peoples' }}</label>
            <select id="people">
                <option value="german">{{ localize 'HV.peoples.German' }}</option>
                <option value="italian">{{ localize 'HV.peoples.Italian' }}</option>
                <option value="french">{{ localize 'HV.peoples.French' }}</option>
                <option value="polish">{{ localize 'HV.peoples.Polish' }}</option>
                <option value="dutch">{{ localize 'HV.peoples.Dutch' }}</option>
                <option value="czech">{{ localize 'HV.peoples.Czech' }}</option>
                <option value="english">{{ localize 'HV.peoples.English' }}</option>
                <option value="spanish">{{ localize 'HV.peoples.Spanish' }}</option>
                <option value="swedish">{{ localize 'HV.peoples.Swedish' }}</option>
                <option value="hungarian">{{ localize 'HV.peoples.Hungarian' }}</option>
                <option value="cossack">{{ localize 'HV.peoples.Cossack' }}</option>
                <option value="gypsy">{{ localize 'HV.peoples.Gypsy' }}</option>
                <option value="jewish">{{ localize 'HV.peoples.Jewish' }}</option>
            </select>
            <label>Helvéczian?</label>
            <input id="helveczian" type="checkbox">
        </div>
    </div>
</form>
