<form class="cards-dialog">
    <div class="form-group">
        <div class="form-fields">
            <label>{{ localize 'HV.Sex' }}</label>
            <select id="sex" name="sex" value="sex">
                {{selectOptions sexes localize=true selected=sex}}
            </select>
            <label>{{ localize 'HV.Peoples' }}</label>
            <select id="people" name="people">
                {{selectOptions all_peoples localize=true selected=people}}
            </select>
            <label>Helvéczian?</label>
            <input id="helveczian" name="helveczian" type="checkbox">
        </div>
    </div>
    <hr>
    <div>
        <h2 id="generated-name">{{ generatedName }}</h2>
    </div>
</form>
