<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <div class="flexcol" style="justify-content: center;align-items: center;">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
          <div class="form-group">
            <h2 class="cost">Cost: </h2>
            <input name="data.cost.value" type="text" value="{{data.cost.value}}">
            <select name="data.cost.coin" type="text">
             {{selectOptions coins selected=data.cost.coin}}
            </select>
          </div>
          <div class="form-group" title="{{ localize 'HV.Encumbrance' }}">
              <h2 class="cost">{{ localize 'HV.Encumbrance' }}:</h2><input name="data.encumbrance" type="text" value="{{ data.encumbrance }}">
          </div>
      </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="spells">{{ localize 'HV.Spells'}}</a>
      {{> "systems/helveczia/templates/item/partials/item-nav.hbs"}}
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="tab spells" data-group="primary" data-tab="spells">
        <ol class="item-list">
          <li class="flexrow item-header">
            <div class="flex3 centred">
              <h2 class="flexrow"> ~ {{ localize 'HV.Spells' }} ~</h2>
            </div>
          </li>
        </ol>
        <div class="spell-list flexrow">
            <ol class="item-list">
              {{#each spells as |item|}}
              <li class="item-entry flexcol" data-item-id="{{item.id}}">
                <div class="item flexrow"  data-item-id="{{item.id}}">
                  <div> {{{ insertLink item }}} </div>
                  <div class="item-controls">
                        <a class="item-control item-delete" title="{{localize 'HV.Delete'}} {{localize 'HV.items.possessions'}}"><i class="fas fa-trash"></i></a>
                  </div>
                </div>
              </li>
              {{/each}}
            </ol>
        </div>
      </div>
      {{#if config.showEffects}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/helveczia/templates/item/partials/item-effects.hbs"}}
        </div>
      {{/if }}
      {{!-- Description Tab --}}
      <div class="tab editor " data-group="primary" data-tab="editor">
            {{editor  enrichedDescription target="system.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>

