<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">

      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
          <div class="deed-header">
            <h3 class="deed-hdr">This deed is a </h3>
            <select class="deed-option" name="data.subtype" type="text">
             {{selectOptions deedTypes selected=data.subtype localize=true}}
            </select>
            <h3 class="deed-hdr"> of </h3>
            <select class="deed-option" name="data.cardinality" type="number">
            {{#if (eq data.subtype 'virtue')}}
              {{selectOptions cardinalVirtues selected=data.cardinality localize=true}}
            {{else}}
              {{selectOptions cardinalSins selected=data.cardinality localize=true}}
            {{/if}}
            </select>
            {{#if (eq data.subtype 'virtue')}}
              <h3 class="deed-hdr">({{ deedLocalize (lookup cardinalVirtues data.cardinality) }})</h3>
             {{else}}
               <h3 class="deed-hdr">({{ deedLocalize (lookup cardinalSins data.cardinality) }})</h3>
             {{/if}}
          </div>
          <div class="deed-header">
            <h3 class="deed-hdr"> of </h3>
            <select class="deed-option" name="data.magnitude" type="number">
            {{#if (eq data.subtype 'virtue')}}
              {{selectOptions virtueMagnitudes selected=data.magnitude localize=true}}
            {{else}}
              {{selectOptions sinMagnitudes selected=data.magnitude localize=true}}
            {{/if}}
            </select>
            <h3 class="deed-hdr"> magnitude </h3>
          </div>
      </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="editor">{{ localize 'HV.tabs.notes'}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{!-- Description Tab --}}
      <div class="tab editor " data-group="primary" data-tab="editor">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
