<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <div class="flexcol" style="justify-content: center;align-items: center;">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
          {{#if isGM }}
            <select name="data.subtype" type="text">
            {{selectOptions skillTypes selected=data.subtype localize=true}}
            </select> {{ localize 'HV.skill' }}
            <select name="data.ability" type="text">
            {{selectOptions abilities selected=data.ability localize=true}}
            </select> {{ localize 'HV.ability' }}
            <div class="actor-exp" style="display: inline-flex;" title="{{ localize 'HV.bonus' }}">
             <h3 style="display: contents; width: 40px;">{{ localize 'HV.additionalBonus' }}<input name="data.bonus" type="text" data-dtype="Number" value="{{data.bonus}}"></h3>
            </div>
          {{else}}
          <div style="display: inline-flex;" title="{{ localize 'HV.bonus' }}">
            <h3>{{ typeOfSkill data.subtype }}, {{ usingAbility data.ability }}</h3>
          </div>
          <div style="display: inline-flex;" title="{{ localize 'HV.bonus' }}">
            <h3>{{ localize 'HV.additionalBonus' }}: {{ plusminus data.bonus }}</h3>
          </div>
          {{/if}}
      </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{> "systems/helveczia/templates/item/partials/item-nav.hbs"}}
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
      {{!-- Description Tab --}}
      <div class="tab editor " data-group="primary" data-tab="editor">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
