<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">

      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
          <div class="form-group">
            <h3 class="spell-hdr">Level:</h3>
            <input name="data.level" type="text" value="{{data.level}}">
            <select name="data.class" type="text">
             {{selectOptions classes selected=data.class}}
            </select>
          </div>
          <div class="form-group">
            <h3 class="spell-hdr">Range:</h3>
            <input name="data.range" type="text" value="{{data.range}}">
          </div>
          <div class="form-group">
            <h3 class="spell-hdr">Duration:</h3>
            <input name="data.duration" type="text" value="{{data.duration}}">
          </div>
          <div class="form-group">
            <h3 class="spell-hdr">Area:</h3>
            <input name="data.area" type="text" value="{{data.area}}">
          </div>
          <div class="form-group">
            <h3 class="spell-hdr">Save:</h3>
            <select name="data.save" type="text">
             {{selectOptions saves selected=data.save}}
            </select>
          </div>
          <div class="form-group">
            <h3 class="spell-hdr">Component:</h3>
            <input name="data.component" type="text" value="{{data.component}}">
          </div>
      </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{> "systems/helveczia/templates/item/partials/item-nav.hbs"}}
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{#if config.showEffects}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/helveczia/templates/item/partials/item-effects.hbs"}}
        </div>
      {{/if }}
      {{!-- Description Tab --}}
      <div class="tab editor " data-group="primary" data-tab="editor">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
