<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexcol">
      <div class="flexrow" style="justify-content: center;align-items: center;">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
    </header>
    <header class="sheet-header">
      <div class="header-fields">
          <div class="form-group">
            <h2 class="cost">Cost: </h2>
            <input name="data.cost.value" type="text" value="{{data.cost.value}}">
            <select name="data.cost.coin" type="text">
             {{selectOptions coins selected=data.cost.coin}}
            </select>
             <h2 class="cost">Encumbrance: </h2>
            <input name="data.encumbrance" type="text" value="{{data.encumbrance}}">
          </div>
      </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="damage">{{ localize 'HV.tabs.combat'}}</a>
      {{> "systems/helveczia/templates/item/partials/item-nav.hbs"}}
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="tab damage" data-group="primary" data-tab="damage">
        <div class="flexrow">
          <select class="flex1" name="data.attack" type="text">
            {{selectOptions attacks selected=data.attack localize=true}}
          </select>
          {{#if (eq data.attack 'ranged')}}
          <h3 class="flex2 flexrow">{{ localize 'HV.Reload'}}:<input name="data.reload" type="text" value="{{data.reload}}"/></h3>
          {{/if}}
          <h3 class="flex2 flexrow">{{ localize 'HV.additionalBonus' }}:<input name="data.bonus" type="text" value="{{data.bonus}}"/></h3>
        </div>
        <h3>{{ localize 'HV.tabs.damage'}}:<input name="data.damage" type="text" value="{{data.damage}}" placeholder="1d3"/></h3>
        <h3>{{ localize 'HV.Critical'}} on:<input name="data.critical.range" type="text" value="{{data.critical.range}}"/></h3>
        <h3>{{ localize 'HV.DamageMultiplier'}}:<input name="data.critical.multiple" type="text" value="{{data.critical.multiple}}"/></h3>
      </div>
      {{#if config.showEffects}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/helveczia/templates/item/partials/item-effects.hbs"}}
        </div>
      {{/if }}
      {{!-- Description Tab --}}
      <div class="tab editor " data-group="primary" data-tab="editor">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
