<section class="helveczia chat-card">
    <div class="helveczia chat-block">
        <div class="flexrow chat-header">
            <div class="chat-title"><h2>{{ localize 'HV.HungarianFate' }}</h2></div>
            <div class="chat-img" style="background-image:url('{{actor.img}}')"></div>
        </div>
        <div>
            <h3>{{ localize 'HV.HungarianFateText' }} {{randomSave}} {{ localize 'HV.SavingRolls' }}!</h3>
        </div>
    </div>
</section>