<section class="helveczia chat-card">
    <div class="helveczia chat-block">
        <div class="flexrow chat-header">
            <div class="chat-title"><h2>{{ localize 'HV.deeds.absolution'}}</h2></div>
            <div class="chat-img" style="background-image:url('{{actor.img}}')"></div>
        </div>
        <div>
        {{#if success}}
        <h3> You have been absolved of the following sins...</h3>
        <ol>
        {{#each absolved as |sin|}}
            <li>{{ deedLocalize  (lookup ../cardinalSins sin.data.data.cardinality) }} ~ {{sin.name}}</li>
        {{/each}}
        </ol>
        {{else}}
        <h3> You were unable to absolve any of your sins.</h3>
        {{/if}}
        </div>
    </div>
</section>