<section class="helveczia chat-card" data-actor-id="{{data.actor.uuid}}">
    <div class="helveczia chat-block">
        <div class="flexrow chat-header">
            <div class="chat-title"><h2>{{title}}</h2></div>
            {{#if data.item}}
            <div class="chat-img" style="background-image:url('{{data.item.img}}')"></div>
            {{else}}
            <div class="chat-img" style="background-image:url('{{data.actor.img}}')"></div>
            {{/if}}
        </div>
        <div class="blindable" data-blind="{{data.roll.blindroll}}">
            {{#if result.details}}
                <div class="chat-details {{#if result.isCrit}}critical{{/if}}">{{{result.details}}}</div>
            {{/if}}
            {{#if result.isFailure}}
                <div class='roll-result roll-fail'><b>{{localize 'HV.Failure'}}</b> ({{localize 'HV.needed'}} {{result.target}})
                </div>
                {{#if rollHV}}<div>{{{rollHV}}}</div>{{/if}}
            {{/if}}
            {{#if result.isSuccess}}
                {{#if result.isCrit}}
                <div class='roll-result roll-success'>
                    <b>{{localize 'HV.success.critical'}}</b>
                </div>
                <div>{{{rollHV}}}</div>
                <div class="critical-roll" data-id="critical" data-formula="{{ result.formula }}" data-dmg-result="{{ dmgResult }}" data-multiplier="{{ result.multiplier }}" data-target="{{ result.target}}" >
                    <div id="hidden-damage" style="display: none;">
                        <div class='roll-result'><b>{{localize 'HV.Damage'}}</b> </div>
                        {{{rollDamage}}}
                    </div>
                </div>
                {{else}}
                <div class='roll-result roll-success'>
                    <b>{{success result.total}}</b> ({{localize 'HV.needed'}} {{result.target}})
                </div>
                <div>{{{rollHV}}}</div>
                {{#if rollDamage}}
                <div>
                     <div class='roll-result'><b>{{localize 'HV.Damage'}}</b> </div>
                    {{{rollDamage}}}
                </div>
                {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>
