{{!-- skills and abilities --}}
<div class="combat">
    <div class="combat-bonuses">
        <div class="combat-melee">
            <div>
                <h3 class="attribute-name" title="{{ localize 'HV.Melee' }}">
                    {{ localize 'HV.Melee' }} :
                </h3>
            </div>
            <div>
                <h3 title="{{ localize 'HV.MeleeMod' }}">{{ plusminus data.attack.melee.mod }}</h3>
            </div>
            <div>
                <h4> = [ {{ plusminus data.attack.melee.base}} ] + [ {{ plusminus data.attack.melee.bonus }} ]</h4>
            </div>
        </div>
        <div class="combat-ranged">
            <div>
                <h3 class="attribute-name" title="{{ localize 'HV.Ranged' }}">
                    {{ localize 'HV.Ranged' }} :
                </h3>
            </div>
            <div>
                <h4 title="{{ localize 'HV.RangeMod' }}">{{ plusminus data.attack.ranged.mod }}</h4>
            </div>
            <div>
                <h4> = [ {{ plusminus data.attack.ranged.base}} ] + [ {{ plusminus data.attack.ranged.bonus }} ]</h4>
            </div>
        </div>
    </div>
    <ol class="item-list">
        <li class="flexrow item-header">
            <h2 class="centred">~ {{ localize 'HV.tabs.combat'}} ~</h2>
            <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'HV.Add'}} {{localize 'HV.tabs.skills'}}" data-type="skill"><i class="fas fa-plus"></i></a>
            </div>
        </li>
    {{#each data.possessions.weapons as |item id|}}
    {{#if (isWorn item)}}
        <li class="item-entry item-rollable flexcol" data-item-id="{{item.id}}">
            <div class="item flexrow">
                <div class="item-image rollable" data-roll="attack" data-item-id="{{item.id}}" data-attr="{{item.data.data.attack}}"><img src="{{item.img}}" width="24" height="24"/></div>
                <h4 class="item-name">{{item.name}}</h4>
            </div>
        </li>
    {{/if}}
    {{/each}}
    </ol>
</div>