{{!-- skills and abilities --}}
<div class="skills">
    <ol class="items-list">
        <li class="flexrow item-header">
            <h2 class="centred">~ {{ localize 'HV.tabs.skills'}} ( {{ data.skills.length }} / {{ data.maxskills }} ) ~</h2>
            <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'HV.Add'}} {{localize 'HV.tabs.skills'}}" data-type="skill"><i class="fas fa-plus"></i></a>
            </div>
        </li>
        {{#if german_skill }}
            {{#unless german_skill_generated}}
            <button class="generate-craft-skill"><i class="fa fa-dice"></i>{{ localize 'HV.randomCraft' }}</button>
            {{/unless}}
        {{/if}}
    {{#each data.skills as |item id|}}
        <li class="item-entry item-rollable flexcol" data-item-id="{{item.id}}">
            <div class="item flexrow">
                <div class="item-image rollable" data-roll="skill" data-item-id="{{item.id}}" data-attr="{{item.data.data.ability}}"><img src="{{item.img}}" width="24" height="24"/></div>
                <h4 class="item-name">{{item.name}}</h4>
                <div>{{ getRollMods actor._sheet 'skill' item }}</div>
                {{#unless (itemLocked item)}}
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'HV.Edit'}} {{localize 'HV.tabs.skills'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'HV.Delete'}} {{localize 'HV.tabs.skills'}}"><i class="fas fa-trash"></i></a>
                </div>
                {{else}}
                <div class="item-controls">
                    <i id="padlock" class="fas fa-lock" style="padding-top: 4px;"></i>
                </div>
                {{/unless}}
            </div>
        </li>
    {{/each}}
    </ol>
</div>