{{!-- skills and abilities --}}
<section
  class='sheet-body tab combat flexcol {{tab.cssClass}}'
  data-group='primary'
  data-tab='combat'
>
    <div class="combat-bonuses">
        <div class="combat-melee">
            <div>
                <h3 class="attribute-name" title="{{ localize 'HV.Melee' }}">
                    {{ localize 'HV.Melee' }} :
                </h3>
            </div>
            <div>
                <h3 id="melee-mod" title="{{ localize 'HV.MeleeMod' }} [ {{ plusminus data.attack.melee.base}} ] + [ {{ plusminus data.attack.melee.bonus }} ]">{{ plusminus data.attack.melee.mod }}</h3>
            </div>
        </div>
        <div class="combat-ranged">
            <div>
                <h3 class="attribute-name" title="{{ localize 'HV.Ranged' }}">
                    {{ localize 'HV.Ranged' }} :
                </h3>
            </div>
            <div>
                <h3 id="ranged-mod" title="{{ localize 'HV.RangeMod' }}  [ {{ plusminus data.attack.ranged.base}} ] + [ {{ plusminus data.attack.ranged.bonus }} ]">{{ plusminus data.attack.ranged.mod }}</h3>
            </div>
        </div>
         <div class="combat-ranged">
            <div>
                <h3 class="attribute-name" title="{{ localize 'HV.attack.cc.long' }}">
                    {{ localize 'HV.attack.cc.abbr' }} :
                </h3>
            </div>
            <div>
                <h3 id="cc-mod" title="[ {{ plusminus data.attack.cc.base}} ] + [ {{ plusminus data.attack.cc.bonus }} ]">{{ plusminus data.attack.cc.mod }}</h3>
            </div>
        </div>
    </div>
    <ol class="item-list">
        <li class="flexrow item-header">
            <h2 class="centred">~ {{ localize 'HV.tabs.combat'}} ~</h2>
        </li>
        <li class="item-rollable flexcol" data-roll="attack" data-attr="cc">
            <div class="item flexrow">
                <div class="item-image rollable" data-action="roll" data-roll="attack" data-attr="cc">&nbsp;<i class="fist fas fa-fist-raised" style="font-size: 1.2em;"></i></div>
                <h4 class="item-name">{{ localize 'HV.attack.cc.long' }}</h4>
        </li>
    {{#each data.possessions.weapons as |item id|}}
    {{#if (isWorn item)}}
        <li class="item-entry item-rollable flexcol" data-item-id="{{item.id}}">
            <div class="item flexrow" data-action="itemSummary" data-item-id="{{item.id}}">
                <div class="item-image rollable" data-action="roll" data-roll="weapon" data-item-id="{{item.id}}" data-attr="{{item.system.attack}}"><img src="{{item.img}}" width="24" height="24"/></div>
                <h4 class="item-name">{{item.name}}</h4>
            </div>
        </li>
    {{/if}}
    {{/each}}
    </ol>
    <div class="centred">
        <img class="centred" height="80px" src="systems/helveczia/assets/icons/weapons.png"/>
    </div>
</section>