{{!-- skills and abilities --}}
<div class="attribute-group flexrow">
    <ol class="attributes">
        <li class="attribute ability-score" data-score="str">
            <h4 class="attribute-name box-title" title="{{ localize 'HV.scores.str.long' }}">
                <a>{{ localize 'HV.scores.str.short' }}</a>
            </h4>
            <div class="attribute-value">
                <input name="data.scores.str.value" type="text" value="{{data.scores.str.value}}" data-dtype="Number" />
            </div>
            <h4 class="attribute-mod" title="{{ localize 'HV.scores.modifier' }}">
                <a>({{ data.scores.str.mod }})</a>
            </h4>
        </li>
        <li class="attribute ability-score" data-score="dex">
            <h4 class="attribute-name box-title" title="{{ localize 'HV.scores.dex.long' }}">
                <a>{{ localize 'HV.scores.dex.short' }}</a>
            </h4>
            <div class="attribute-value">
                <input name="data.scores.dex.value" type="text" value="{{data.scores.dex.value}}" data-dtype="Number" />
            </div>
            <h4 class="attribute-mod" title="{{ localize 'HV.scores.modifier' }}">
                <a>({{ data.scores.dex.mod }})</a>
            </h4>
        </li>
    </ol>
    <ol class="attributes">
        <li class="attribute ability-score" data-score="con">
            <h4 class="attribute-name box-title" title="{{ localize 'HV.scores.con.long' }}">
                <a>{{ localize 'HV.scores.con.short' }}</a>
            </h4>
            <div class="attribute-value">
                <input name="data.scores.con.value" type="text" value="{{data.scores.con.value}}" data-dtype="Number" />
            </div>
            <h4 class="attribute-mod" title="{{ localize 'HV.scores.modifier' }}">
                <a>({{ data.scores.con.mod }})</a>
            </h4>
        </li>
        <li class="attribute ability-score" data-score="int">
            <h4 class="attribute-name box-title" title="{{ localize 'HV.scores.int.long' }}">
                <a>{{ localize 'HV.scores.int.short' }}</a>
            </h4>
            <div class="attribute-value">
                <input name="data.scores.int.value" type="text" value="{{data.scores.int.value}}"data-dtype="Number" />
            </div>
            <h4 class="attribute-mod" title="{{ localize 'HV.scores.modifier' }}">
                <a>({{ data.scores.int.mod }})</a>
            </h4>
        </li>
    </ol>
    <ol class="attributes">
        <li class="attribute ability-score" data-score="wis">
            <h4 class="attribute-name box-title" title="{{ localize 'HV.scores.wis.long' }}">
                <a>{{ localize 'HV.scores.wis.short' }}</a>
            </h4>
            <div class="attribute-value">
                <input name="data.scores.wis.value" type="text" value="{{data.scores.wis.value}}" data-dtype="Number" />
            </div>
            <h4 class="attribute-mod" title="{{ localize 'HV.scores.modifier' }}">
                <a>({{ data.scores.wis.mod }})</a>
            </h4>
        </li>
        <li class="attribute ability-score" data-score="cha">
            <h4 class="attribute-name box-title" title="{{ localize 'HV.scores.cha.long' }}">
                <a>{{ localize 'HV.scores.cha.short' }}</a>
            </h4>
            <div class="attribute-value">
                <input name="data.scores.cha.value" type="text" value="{{data.scores.cha.value}}" data-dtype="Number" />
            </div>
            <h4 class="attribute-mod" title="{{ localize 'HV.scores.modifier' }}">
                <a>({{ data.scores.cha.mod }})</a>
            </h4>
        </li>
    </ol>
</div>
<div class="saves">
    
</div>