{{!-- skills and abilities --}}
<div class="skills">
    <ol class="items-list">
        <li class="flexrow item-header">
            <h2 class="centred">~ {{ localize 'HV.tabs.skills'}} ( {{ data.skills.length }} / {{ data.maxskills }} ) ~</h2>
            <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'HV.Add'}} {{localize 'HV.tabs.skills'}}" data-type="skill"><i class="fas fa-plus"></i></a>
            </div>
        </li>
        {{#if german_skill }}
            {{#unless german_skill_generated}}
            <button class="generate-craft-skill"><i class="fa fa-dice"></i>{{ localize 'HV.randomCraft' }}</button>
            {{/unless}}
        {{/if}}
        {{#if student_skill }}
            {{#unless student_skills_generated}}
            <button class="generate-science-skills"><i class="fa fa-dice"></i>{{ localize 'HV.randomScience' }}</button>
            {{/unless}}
        {{/if}}
        {{#if czech_skill }}
            <h4>{{bonusSkills '1' 'Science' 'Czech' '4'}}</h4>
        {{/if}}
        {{#if dutch_skill }}
            <h4>+2 to sailing/appraisal and one more</h4>
        {{/if}}
        {{#if fighter_third_skill }}
            <h4>{{bonusSkills '1' '' 'Fighter' '3'}}</h4>
        {{/if}}
        {{#if fighter_fifth_skill }}
            <h4>{{bonusSkills '2' '' 'Fighter' '5'}}</h4>
        {{/if}}
        {{#if vagabond_skills }}
            <h4>{{bonusSkills '4' '' 'Vagabond' data.level }}</h4>
        {{/if}}
    {{#each data.skills as |item id|}}
        <li class="item-entry  {{#if (gt item.data.data.ability.length 0) }}item-rollable{{/if}} flexcol" data-item-id="{{item.id}}">
            <div class="item flexrow">
                {{#if (gt item.data.data.ability.length 0) }}
                <div class="item-image rollable" data-roll="skill" data-item-id="{{item.id}}" data-attr="{{item.data.data.ability}}"><img src="{{item.img}}" width="24" height="24"/></div>
                {{else}}
                <div class="item-image"><img src="{{item.img}}" width="24" height="24"/></div>
                {{/if}}
                <h4 class="item-name">{{item.name}}</h4>
                {{#unless (itemLocked item)}}
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'HV.Edit'}} {{localize 'HV.tabs.skills'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'HV.Delete'}} {{localize 'HV.tabs.skills'}}"><i class="fas fa-trash"></i></a>
                </div>
                {{else}}
                <div class="item-controls">
                    <i id="padlock" class="fas fa-lock" style="padding-top: 4px;"></i>
                </div>
                {{/unless}}
            </div>
        </li>
    {{/each}}
    </ol>
</div>