{{!-- skills and abilities --}}
<div class="cleric">
    <ol class="item-list">
        <li class="flexrow item-header">
            <h2 class="centred">~ {{ localize "HV.class.cleric"}} ~</h2>
        </li>
    {{#each data.classes as |item id|}}
        <li class="item-entry flexcol" data-item-id="{{item.id}}">
            <div class="item flexrow">
                <div class="item-image" data-item-id="{{item.id}}"><img src="{{item.img}}" width="24" height="24"/></div>
                <h4 class="item-name">{{item.name}} {{ localize "HV.Details" }}</h4>
            </div>
        </li>
    {{/each}}
    {{#each data.skills as |item id|}}
        {{#if (isClericSpecialSkill item.name) }}
        <li class="item-entry flexcol" data-item-id="{{item.id}}">
            <div class="item flexrow">
                <div class="item-image" data-item-id="{{item.id}}"><img src="{{item.img}}" width="24" height="24"/></div>
                <h4 class="item-name">{{item.name}}</h4>
            </div>
        </li>
        {{/if}}
    {{/each}}
    </ol>
    <section class="spellbook">
        <ol class="item-list">
            <li class="flexrow item-header">
                    <h2 class="centred">~ {{ localize "HV.MemorizedSpells"}}  ~</h2>
            </li>
            {{> "systems/helveczia/templates/actor/partials/spells.hbs"}}
        </ol>
    </section>
</div>