<div class="header-fields">
    <div class="sheet-header-table">
        <div class="sheet-logo">
            <h2>~ Helvéczia ~</h2>
        </div>
        <div class="actor-portrait">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div class="token-sync" title="Match token with portrait">
                <a><i class="fas fa-sync"></i></a>
            </div>
        </div>
        <div class="actor-name" style="display: inline-flex;">
            <a><i class="fas {{#if (eq sex 'male') }}fa-mars{{else}}fa-venus{{/if}} toggle-gender" data-actor-id="{{ actor._id}}" title="sex"></i></a>
            <h3 style="display: contents;"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>,</h3>
            <a><i class="fa fa-dice roll-name" data-actor-id="{{ actor._id}}"></i></a>
        </div>
        <div class="actor-level" style="display: inline-flex;">
           <h3 style="display: contents;">{{ localize 'HV.Level' }}<input name="data.levelBonus" type="text" value="{{data.levelBonus}}" placeholder="1"/>,</h3>
        </div>
         <div class="actor-class" style="display: inline-flex;">
            <h3>{{ordinal data.level }}  level {{data.people}}
                {{#if fighter_class}}
                    {{#if fighter_specialism }}
                         {{ fighter_specialism }}
                    {{else}}
                     <button style="width: 85px;" data-class="fighter" class="choose-specialism">Specialism</button>
                    {{/if}}
                {{else}}
                {{data.class}}
                {{/if}}
            </h3>
        </div>
        <div class="actor-exp" style="display: inline-flex;" title="{{ localize 'HV.experience' }}">
            <h3 style="display: contents; width: 40px;">{{ localize 'HV.experience' }}<input name="data.experience" type="text" data-dtype="Number" value="{{data.experience}}"></h3>
        </div>
        <section class="actor-computed">
            <div class="attribute-group flexrow">
                <ol class="attributes">
                    <li class="attribute ability-score actor-ac">
                        <h4 class="attribute-name box-title">
                            {{ localize 'HV.AC' }}:
                        </h4>
                        <div class="attribute-value">
                            <input name="data.baseAC" type="text" value="{{data.baseAC}}" data-dtype="Number" />
                            <div>(</div><input name="data.ac" type="text" data-dtype="Number" value="{{data.ac}}" title="{{ localize 'HV.AC' }}" disabled><div>)</div>
                        </div>
                    </li>
                </ol>
                <ol class="attributes">
                    <li class="attribute ability-score actor-initiative">
                        <h4 class="attribute-name-long box-title">
                            <a>{{ localize 'HV.initiative' }}:</a>
                        </h4>
                        <div class="attribute-value" title="{{ localize 'HV.initiative_bonus'}}">
                            <input name="data.initiative" type="text" data-dtype="Number" value="{{ plusminus data.initiative}}" disabled>
                        </div>
                    </li>
                </ol>
                <ol class="attributes">
                    <li class="attribute ability-score actor-virt-val">
                        <h4 class="attribute-name box-title">
                            {{ localize 'HV.virtue' }}:
                        </h4>
                        <div class="attribute-value">
                            <input name="data.virtue" type="text" data-dtype="Number" value="{{data.virtue}}">
                             <a><i class="fas fa-dice roll-virtue" data-actor-id="{{ actor._id}}"></i></a>
                        </div>
                    </li>
                </ol>
                <ol class="attributes">
                    <li class="attribute ability-score actor-hp">
                        <h4 class="attribute-name box-title" title="{{ localize 'HV.HP.long' }}" >
                            {{ localize 'HV.HP.short' }}:
                        </h4>
                        <div class="attribute-value">
                            <input name="data.hp.value" type="text" data-dtype="Number" value="{{data.hp.value}}" title="{{ localize 'HV.HP.current' }}">
                            <div>(</div><input name="data.hp.max" type="text" data-dtype="Number" value="{{data.hp.max}}" title="{{ localize 'HV.HP.max' }}" {{#unless user.isGM}}disabled{{/unless}}><div>)</div>
                            <img src="{{die data.hp.hd}}" class="hitdie {{#if needToRoll}}blinking{{/if}}" data-roll="{{data.hp.hd}}" data-label="HD">
                        </div>
                        
                    </li>
                </ol>
            </div>
        </section>
    </div>
</div>