{{!-- skills and abilities --}}
<div class="combat">
    <div class="combat-bonuses">
        <div class="combat-melee">
            <div>
                <h3 class="attribute-name" title="{{ localize 'HV.Melee' }}">
                    {{ localize 'HV.Melee' }} :
                </h3>
            </div>
            <div>
                <h3 title="{{ localize 'HV.MeleeMod' }} [ {{ plusminus data.attack.melee.base}} ] + [ {{ plusminus data.attack.melee.bonus }} ]">{{ plusminus data.attack.melee.mod }}</h3>
            </div>
        </div>
        <div class="combat-ranged">
            <div>
                <h3 class="attribute-name" title="{{ localize 'HV.Ranged' }}">
                    {{ localize 'HV.Ranged' }} :
                </h3>
            </div>
            <div>
                <h3 title="{{ localize 'HV.RangeMod' }}  [ {{ plusminus data.attack.ranged.base}} ] + [ {{ plusminus data.attack.ranged.bonus }} ]">{{ plusminus data.attack.ranged.mod }}</h3>
            </div>
        </div>
         <div class="combat-ranged">
            <div>
                <h3 class="attribute-name" title="{{ localize 'HV.attack.cc.long' }}">
                    {{ localize 'HV.attack.cc.short' }} :
                </h3>
            </div>
            <div>
                <h3 title="[ {{ plusminus data.attack.cc.base}} ] + [ {{ plusminus data.attack.cc.bonus }} ]">{{ plusminus data.attack.cc.mod }}</h3>
            </div>
        </div>
    </div>
    <ol class="item-list">
        <li class="flexrow item-header">
            <h2 class="centred">~ {{ localize 'HV.tabs.combat'}} ~</h2>
            <div class="item-controls">
                <a class="item-control item-create" title="{{localize 'HV.Add'}} {{localize 'HV.items.weapons'}}" data-type="weapon"><i class="fas fa-plus"></i></a>
            </div>
        </li>
        <li class="item-rollable flexcol" data-roll="attack" data-attr="cc">
            <div class="item flexrow">
                <div class="item-image rollable" data-roll="attack" data-attr="cc">&nbsp;<i class="fist fas fa-fist-raised" style="font-size: 1.2em;"></i></div>
                <h4 class="item-name">{{ localize 'HV.attack.cc.long' }}</h4>
        </li>
    {{#each data.possessions.weapons as |item id|}}
        <li class="item-entry item-rollable flexcol" data-item-id="{{item.id}}">
            <div class="item flexrow">
                <div class="item-image rollable" data-roll="weapon" data-item-id="{{item.id}}" data-attr="{{item.system.attack}}"><img src="{{item.img}}" width="24" height="24"/></div>
                <h4 class="item-name">{{item.name}}</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'HV.Edit'}} {{localize 'HV.items.weapon'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'HV.Delete'}} {{localize 'HV.items.weapon'}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </li>
    {{/each}}
    </ol>
</div>