<section class="sheet-body">
  <div class="party-members">
    <ol class="party-members">
      {{#each party as |e|}}
      <li class="actor flexrow" data-actor-id="{{e.id}}">
          <div class="flexrow field-row">
            <div class="field-img">
              <img src="{{e.img}}" class="profile-img" data-action="actor" data-actor-id="{{e.id}}"/>
            </div>
            <div title="{{e.name}}" class="field-name">
              {{e.name}}
              {{#if e.hasPlayerOwner}}
              &nbsp;<span style="font-style: italic;">({{player e.id}})</span>
              {{/if}}
              {{#unless no_origins}}
              <br> {{ordinal e.system.level }} {{localize 'HV.Level.long'}} {{e.system.people}} {{e.system.class}}
              {{/unless}}
            </div>
            {{#if ../user.isGM }}
            <div class="field-row">
              {{ localize 'HV.tabs.saves'}} {{ plusminus e.system.saves.bravery.mod }} / {{ plusminus e.system.saves.deftness.mod }} / {{ plusminus e.system.saves.temptation.mod }}
            </div>
            <div class="field-row">
              <i class="fas fa-fist-raised" title="{{ localize 'HV.attack.melee.abbr'}}"></i>{{ plusminus e.system.attack.melee.mod}}
              &nbsp;
              <i class="fas fa-bullseye" title="{{ localize 'HV.attack.ranged.abbr'}}"></i>{{ plusminus e.system.attack.ranged.mod}}
              &nbsp;
              <i class="fas fa-shield-alt" title="{{ localize 'HV.AC'}}"></i>{{e.system.ac}}
              &nbsp;
              <i class="fas fa-heart" title="{{ localize 'HV.HP.long'}}"></i>{{e.system.hp.value}}
              &nbsp;
              <i class="virtue-balance {{balance e.system.virtue}}" title="{{balanceTip e.system.virtue}}"></i>{{e.system.virtue}}
            </div>
            <div class="field-row">
              <a class="remove" data-action="remove"><i class="fas fa-times-circle" title="{{ localize 'HV.dialog.partysheet.remove'}}"></i></a>
            </div>
            {{/if}}
          </div>
      </li>
      <hr>
      {{/each}}
    </ol>
  </div>
</section>