{{#each spellGroups}}
    <li class="flexrow item-header">
        <h3 class="centred">~  Level {{this}} {{ localize "HV.Spells"}} ( {{ length (lookup ../data.spells @index) }} / {{ lookup  ../spellslots @index }} / {{ lookup ../spellBonus @index }}') ~</h3>
    </li>
    {{#each (lookup ../data.spells @index) as |item id|}}
    <li class="item-entry flexcol" data-item-id="{{item.id}}">
        <div class="item flexrow">
            <div class="flex1">
                {{#if (bonusSpell item)}}
                <a class="flex1 item-control item-bonus" title="{{localize 'HV.bonus'}} {{localize 'HV.Spell'}}"><i class="fa fa-check-circle"></i></a>
                {{else}}
                <a class="flex1 item-control item-bonus" title="{{localize 'HV.bonus'}} {{localize 'HV.Spell'}}"><i class="far fa-circle"></i></a>
                {{/if}}
            <h4 class="flex3 item-name">{{item.name}}</h4>
            </div>
            {{#unless (itemLocked item)}}
            <div class="item-controls">
                <a class="item-control item-delete" title="{{localize 'HV.Delete'}} {{localize 'HV.tabs.skills'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{else}}
            <div class="item-controls">
                <i id="padlock" class="fas fa-lock" style="padding-top: 4px;"></i>
            </div>
            {{/unless}}
        </div>
    </li>
    {{/each}}
{{/each}}