{{#each spellGroups}}
    <li class="flexrow item-header">
        <h3 class="centred">~ {{ordinal this }} {{localize 'HV.Level.long'}} {{ localize "HV.Spells"}} ( {{ length (lookup ../data.spells @index) }} / {{ lookup  ../spellslots @index }}) ~ {{ localize 'HV.bonus'}} {{ localize 'HV.Spells'}} (  {{ lookup ../currentBonusSpells @index }} / {{ lookup ../spellBonus @index }}') ~</h3>
    </li>
    {{#each (lookup ../data.spells @index) as |item id|}}
    <li class="item-entry flexcol" data-item-id="{{item.id}}">
        <div class="item flexrow">
            <div class="flexrow">
                {{#if (bonusSpell item)}}
                <a class="flex0 item-control item-bonus" title="{{localize 'HV.bonus'}} {{localize 'HV.Spell'}}"><i title="{{ localize 'HV.bonus'}}" class="fa fa-check-circle"></i></a>
                {{else}}
                <a class="flex0 item-control item-bonus" title="{{localize 'HV.bonus'}} {{localize 'HV.Spell'}}"><i class="far fa-circle"></i></a>
                {{/if}}
                <h4 class="flex1 item-name">&nbsp; {{item.name}}</h4>
            </div>
            <div class="item-controls">
                <a class="item-control item-cast" title="{{localize 'HV.Cast'}} {{localize 'HV.Spell'}}"><i class="fas fa-magic"></i></a>
                {{#if (bonusSpell item)}}
                    {{#if (castSpell item)}}
                    <a class="item-control item-empty" title="{{localize 'HV.Unavailable'}} {{localize 'HV.Spell'}}"><i class="fas fa-battery-empty"></i></a>
                    {{else}}
                    <a class="item-control" title="{{localize 'HV.Available'}} {{localize 'HV.Spell'}}"><i class="fas fa-battery-full"></i></a>
                    {{/if}}
                {{/if}}
            </div>
            {{#unless (or (itemLocked item) (bonusSpell item))}}
            <div class="item-controls">
                <a class="item-control item-delete" title="{{localize 'HV.Delete'}} {{localize 'HV.tabs.skills'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{else}}
            <div class="item-controls">
                <i id="padlock" class="fas fa-lock" style="padding-top: 4px;"></i>
            </div>
            {{/unless}}
        </div>
    </li>
    {{/each}}
{{/each}}