<form autocomplete="off" class="sheet-body">
  <div class="header flexrow" style="flex-wrap: nowrap;">
    <div>
      <a class="item-control resync"><i class="fas fa-sync"></i></a>
    </div>
  </div>
  <ol class="party-members">
    {{#each party as |e|}}
    <li class="actor flexrow" data-actor-id="{{e.id}}">
        <div class="flexrow field-row">
          <div class="field-img">
            <img src="{{e.img}}" class="profile-img"/>
          </div>
          <div title="{{e.name}}" class="field-name">
            {{e.name}}
            {{#if e.hasPlayerOwner}}
            &nbsp;<span style="font-style: italic;">({{player e.id}})</span>
            {{/if}}
            {{#unless no_origins}}
            <br> {{ordinal data.data.level }} level {{data.data.people}} {{data.data.class}}
            {{/unless}}
          </div>
          <div class="field-row">
            {{ localize 'HV.tabs.saves'}} {{ plusminus data.data.saves.bravery.mod }} / {{ plusminus data.data.saves.deftness.mod }} / {{ plusminus data.data.saves.temptation.mod }}
          </div>
          <div class="field-row">
            <i class="fas fa-fist-raised" title="{{ localize 'HV.attack.melee.short'}}"></i>{{ plusminus e.data.data.attack.melee.mod}}
            &nbsp;
            <i class="fas fa-bullseye" title="{{ localize 'HV.attack.ranged.short'}}"></i>{{ plusminus e.data.data.attack.ranged.mod}}
            &nbsp;
            <i class="fas fa-shield-alt" title="{{ localize 'HV.AC'}}"></i>{{e.data.data.ac}}
            &nbsp;
            <i class="fas fa-heart" title="{{ localize 'HV.HP.long'}}"></i>{{e.data.data.hp.value}}
            &nbsp;
            <i class="virtue-balance {{balance e.data.data.virtue}}" title="{{balanceTip e.data.data.virtue}}"></i>{{e.data.data.virtue}}
          </div>
          <div class="field-row">
            <a class="remove"><i class="fas fa-times-circle" title="{{ localize 'HV.dialog.partysheet.remove'}}"></i></a>
          </div>
        </div>
    </li>
    <hr>
    {{/each}}
  </ol>
</form>